version: "3.9"

services:
  api:
    image: cosmtrek/air
    container_name: api
    hostname: api
    working_dir: /app
    user: ${HOST_UID}:${HOST_GID}
    command: -c air.toml
    env_file:
      - .env
    volumes:
      - ./:/app
    network_mode: host
    